@if (scannedQR == "incorrectInteger") {
  <tg-card>
    <h1>Ошибка</h1>
    <p class="error-message">Полученое значение не является телеграм айди</p>
  </tg-card>
} @else if (scannedQR == "stringNotNumber") {
  <tg-card>
    <h1>Ошибка</h1>
    <p class="error-message">
      Полученое значение является текстом. Вы сканируете что-то не то.
    </p>
  </tg-card>
} @else if (!!scannedQR) {
  <app-user [userId]="scannedQR" />
} @else {
  <tg-card>
    <h2>Страница Администратора</h2>
    <div class="error-message">
      Отсканируйте код на экране пользователя, чтобы получить доступ к аккаунту.
    </div>
  </tg-card>
}
