@import "../../../variables.scss";

.card {
  background-color: $secondary_bg_color;
  color: $text_color;
  border-radius: 8px;
  margin-bottom: 0.4rem;

  .inner {
    padding: 1rem;
  }

  table {
    color: inherit;
  }
}

.inactive {
  color: $hint_color;
}
